* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font: 16px "Helvetica Nueu", Arial, sans-serif;
  background-color: #0f0c29;
  background: linear-gradient(to right, #2a0845, #6441A5);
  color: #e5e5ee
}

